<a href="https://colab.research.google.com/github/PabloGP10/Extracci-n-de-Datos/blob/main/1_Extracci%C3%B3n_Datos1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos librer√≠as requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [3]:
#Convertir en dataframe
df= pd.read_csv("file.csv")
#df

In [4]:
#Imprimimos las primeras filas o registros del Dataframe
df.head(5)

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000

**FILTROS BASICOS PARA VARIABLES CUALITATIVAS **

In [5]:
#Filtro por objeto 
filtro1=df[df["Sexo"] == "Mujeres"]
filtro1

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
5,2005,1,Baja California,Mujeres,103697,398911,25.995021450000000000000
7,2005,1,Baja California Sur,Mujeres,4103,75648,5.4238049920000000000000
9,2005,1,Campeche,Mujeres,17935,110090,16.291216280000000000000
...,...,...,...,...,...,...,...
4545,2022,1,Tamaulipas,Mujeres,148943,624871,23.835799710000000000000
4547,2022,1,Tlaxcala,Mujeres,63801,241052,26.46773310000000000000
4549,2022,1,Veracruz,Mujeres,107640,1190733,9.0398099320000000000000
4551,2022,1,Yucat n,Mujeres,82759,478943,17.279509250000000000000
4553,2022,1,Zacatecas,Mujeres,39472,255761,15.43315830000000000000

In [6]:
#Filtro por filas
#filtro2= df.iloc[300:302,: ]
filtro2=df.iloc[ [1000, 2000, 3000] , : ]  #filas no consecutivas 
filtro2

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
1000,2008,4,Coahuila,Hombres,162606,694961,23.397859740000000000000
2000,2012,3,Durango,Hombres,76715,433701,17.688453570000000000000
3000,2016,2,M xico,Hombres,807150,4305995,18.74479650000000000000

In [7]:
#Filtro por columnas
filtro3=df.iloc[ : , 4:7]
#filtro3=df.iloc[ : , [1,4,6]]  #columnas no consecutivas 
filtro3

,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,4384907,26597801,16.485975660000000000000
1,2690296,14843275,18.124679360000000000000
2,56407,246177,22.913188480000000000000
3,28430,145656,19.518591750000000000000
4,167651,768989,21.801482210000000000000
...,...,...,...
4549,107640,1190733,9.0398099320000000000000
4550,101992,691397,14.751582670000000000000
4551,82759,478943,17.279509250000000000000
4552,44105,402326,10.962503040000000000000
4553,39472,255761,15.43315830000000000000

In [8]:
#Filtro de filas vs columnas 
#Paso 1: Leemos el contenido del archivo
from google.colab import files
uploaded=files.upload()
df = pd.read_csv(io.BytesIO(uploaded['file.csv']), index_col=2)

Saving file.csv to file (1).csv

In [9]:
#Paso 2: Aplicamos Filtro de filas vs columnas 
filtro4=df.loc[["Puebla","Durango"], ["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro4

                   Poblacion_ocupada_en_la_industria_manufacturera
Entidad_Federativa
Puebla                                                      230487
Puebla                                                      188720
Puebla                                                      236459
Puebla                                                      190831
Puebla                                                      233484
...                                                            ...
Durango                                                      53354
Durango                                                      82494
Durango                                                      57450
Durango                                                      79715
Durango                                                      55750

[276 rows x 1 columns]

In [10]:
#Filtro por cabecera
filtro5=df.head()
filtro5

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000

**FILTROS BASICOS PARA VARIABLES CUANTITATIVAS**

In [19]:
#Filtro por comparacion
filtro6=df[df["Periodo"] > 2010]
filtro6

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2011,1,Hombres,4496335,28934497,15.539703350000000000000
Nacional,2011,1,Mujeres,2560236,17071318,14.997295460000000000000
Aguascalientes,2011,1,Hombres,69338,279436,24.813553010000000000000
Aguascalientes,2011,1,Mujeres,29135,176387,16.51765720000000000000
Baja California,2011,1,Hombres,140358,838148,16.746207110000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

**FILTROS BASICOS CON CONETORES LOGICOS**

In [18]:
#Filtro Y
filtro7=df[(df["Periodo"] > 2006) & (df["Sexo"] == "Mujeres")]
filtro7

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2007,1,Mujeres,2798066,16239553,17.229944690000000000000
Aguascalientes,2007,1,Mujeres,31485,162275,19.402249270000000000000
Baja California,2007,1,Mujeres,112553,450574,24.979914510000000000000
Baja California Sur,2007,1,Mujeres,6298,87290,7.2150303590000000000000
Campeche,2007,1,Mujeres,14502,114970,12.613725320000000000000
...,...,...,...,...,...,...
Tamaulipas,2022,1,Mujeres,148943,624871,23.835799710000000000000
Tlaxcala,2022,1,Mujeres,63801,241052,26.46773310000000000000
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [13]:
#Filtro o
filtro8=df[(df["Periodo"] > 2006) | (df["Sexo"] == "Mujeres")]
filtro8

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Mujeres,103697,398911,25.995021450000000000000
Baja California Sur,2005,1,Mujeres,4103,75648,5.4238049920000000000000
Campeche,2005,1,Mujeres,17935,110090,16.291216280000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [14]:
#Filtro not
filtro9=df[~(df["Periodo"] >= 2006) & ~(df["Sexo"] == "Mujeres")]
filtro9

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000
Baja California Sur,2005,1,Hombres,9349,148814,6.2823390270000000000000
Campeche,2005,1,Hombres,17032,206708,8.2396423940000000000000
...,...,...,...,...,...,...
Tamaulipas,2005,4,Hombres,153867,814984,18.879757150000000000000
Tlaxcala,2005,4,Hombres,62629,274862,22.785616050000000000000
Veracruz,2005,4,Hombres,177063,1809574,9.7847891270000000000000
Yucat n,2005,4,Hombres,87066,488417,17.826160840000000000000
Zacatecas,2005,4,Hombres,26631,353848,7.5261129070000000000000

In [15]:
#Convertir archivo filtrado a CSV
filtro9.to_csv("Entregable1.csv")

In [16]:
#descargar archivo filtrado en csv
from google.colab import files 
  
  
files.download("Entregable1.csv")